@use 'normalize';
@use 'global';
@use 'variables';


@use './helpers'as *;


.header__menu-btn {
    position: fixed;
    left: 10px;
    top: 10px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .menu {
        position: absolute;
        background-color: rgb(192, 191, 191);
        transform: scale(0);
        border: 2px solid #000;
        transition: var(--transition);
        width: 70%;
        height: 60%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: rem(20);
        align-items: center;

        &__exit {
            position: absolute;
            right: 20px;
        }

        &__winner {
            font-size: rem(40);
            color: #000;
        }

        &__restart {
            padding: rem(10) rem(30);
            cursor: pointer;
        }
    }

    .promote {
        position: absolute;
        background-color: rgb(192, 191, 191);
        transform: scale(0);
        border: 2px solid #000;
        transition: var(--transition);

        display: flex;
        justify-content: space-around;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        padding: rem(20);
    }

    .board {
        border: 1px solid #000;
        box-shadow: 0 0 10px #000;
        width: rem(600);
        height: rem(600);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        transition: var(--transition)s;


        &_cell {
            border: 1px solid #000;
            background-color: rgb(243, 200, 106);
            transition: var(--transition);

            &:hover {
                background-color: rgb(56, 55, 54);
            }
        }

        .black_cell {
            background-color: rgb(124, 87, 51);

            &:hover {
                background-color: rgb(56, 55, 54);
            }
        }
    }

    #available_cell {
        background-color: green;
    }

    #attack_cell {
        background-color: red;
    }

    #castling_cell {
        background-color: blue;
    }

    #check_cell {
        background-color: yellow;
    }
}


@include tablet {
    .black {
        rotate: 180deg;
    }

    .promote {
        & img {
            width: 70px;
        }
    }
}

@include mobile {
    .wrap {
        .board {
            width: rem(400);
            height: rem(400);
        }

        .promote {
            & img {
                width: 50px;
            }
        }
    }
}


@mixin mobile-s {
    .wrap {
        .board {
            width: rem(250);
            height: rem(250);
        }
    }
}